<p>
  <a id="my-open-click">點擊</a>
</p>

<div id="foo" style="border: 1px solid red;">
  <p>bar</p>
</div>


<script>
  $("#foo").hide();

  $("#my-open-click").hover(function(){
    $("#foo").toggle();
  })
</script>
